<div class="panel-body">
<%= simple_form_for @jobs do |f| %>
    <div class="form-group">
        <%= f.input :title, label: "職業", input_html: { class: "form-control" }%>
        <%= f.input :description, label: "工作描述", input_html: { class: "form-control" }%>        
        <%= f.input :wage_upper_bound, label: "上線薪資", input_html: { class: "form-control" }%>        
        <%= f.input :wage_lower_bound, label: "最低薪資", input_html: { class: "form-control" }%>        
        <%= f.input :contact_email, label: "聯絡Email", input_html: { class: "form-control" }%>        
        
        <% if false %>
            <%= f.input :is_hidden, label: "是否在前台隱藏"%> 
        <% end %>
               
    </div>
    <%= f.submit "送出", class: "btn btn-primary", data: {disable_with: "送出..."}%>
<% end %>
<br>
</div>